@charset "utf-8";

#conteiner{
	font-family:Georgia, "Times New Roman", Times,serif;
}

#header{
	margin:auto;
	padding:5px;
	text-align:center;
	width:100%;
	clear:both;

}
#header img{
	height: 280px;
	width: 99%;
	
}
#menu{
	background-color: 9999ff;

	float: left;
	width:250px;
	height: 70%;
}
#menu h3{
	font-style: italic;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
#menu a{
	color: white;
}


#content{
	float: left;
	width:calc(100% - 250px);
	height:auto;
	}

#addNewImg{
	float: left;
	width:350px;
	text-align: right;
	margin-top: 50px;
}

#preview{
	float: left;
	width:calc(100% - 350px);
}
#preview img{
	margin:2px;
	border:0;
	width:300px;
	height: 300px;
}
	
#footer{
	clear:both;
	padding:5px;
	margin:auto;
	text-align:left;
	width:100%;

}

#footer img{
	height: 100px;
	width: 99%;
	
}

.ContentClass {
	float:inherit;
	margin:7px;
	text-align: center;
}


.ContentClass img{
	
	border:0;
	width:300px;
	height: 300px;	
	}



