@charset "utf-8";

#conteiner{
	font-family:Georgia, "Times New Roman", Times,serif;
}

#header{
	margin:auto;
	padding:5px;
	margin:auto;
	text-align:center;
	width:100%;
	clear:both;

}
#header img{
	height: 180px;
	width: 500px;
	
}
#menu{
	float: left;
	width:200px;
	height: 400px;
}
#content{
	float: left;
	width:calc(100% - 200px);
	height:auto;
	}

#addNewImg{
	float: left;
	width:350px;
	text-align: right;
	margin-top: 50px;
}

#preview{
	float: left;
	width:calc(100% - 350px);
}
#preview img{
	margin:2px;
	border:0;
	width:300px;
	height: 300px;
}
	
#footer{
	clear:both;
	padding:5px;
	margin:auto;
	text-align:center;
	width:100%;
}

.ContentClass {
	float:inherit;
	margin:7px;
	text-align: center;
}


.ContentClass img{
	
	border:0;
	width:300px;
	height: 300px;	
	}



