<h1 align="center">

    Добро пожаловать в <p id="zoo">Зверополис</p> —

</h1>
<div id="about">
    <p>
        современный город, населенный самыми разными животными, от огромных слонов до крошечных мышек. 
        Зверополис разделен на районы, полностью повторяющие естественную среду обитания разных жителей — 
        здесь есть и элитный район Площадь Сахары и неприветливый Тундратаун. В этом городе появляется новый 
        офицер полиции, жизнерадостная зайчиха Джуди Хоппс, которая с первых дней работы понимает, как сложно
        быть маленькой и пушистой среди больших и сильных полицейских. Джуди хватается за первую же возможность 
        проявить себя, несмотря на то, что ее партнером будет болтливый хитрый лис Ник Уайлд. Вдвоем им предстоит 
        раскрыть сложное дело, от которого будет зависеть судьба всех обитателей Зверополиса
    </p>
    <details>
        <summary>Список героев: </summary>
        <ul>
            <li><span>Джуди Хопс</span></li>
            <li><span>Ник Уайлд</span></li>
            <li><span>Шеф Буйволсон</span></li>
            <li><span>Дюк Хорьковиц</span></li>
            <li><span>Вони и Стью Хопс</span></li>
            <li><span>Мэр Леодор Златогрив</span></li>
            <li><span>Мисс Барашкис</span></li>
            <li><span>Миссис Выдрингтон</span></li>
            <li><span>Флеш</span></li>
            <li><span>Офицер Бенджамин Клаухаузер</span></li>
            <li><span>Финик</span></li>
            <li><span>Якс</span></li>
        </ul>
    </details>
</div>

