<h1 align="center">
    Добавление новой картинки
</h1>

<div id='addNewImg'>
    <p>
        Введите название:
        <input type="text" ng-model="img.name">
    </p>
    <p align="center">
        Выберите картинку:
        <input type="file" fileread="img.data">
    </p>
    
    <p>
        Введите оценку:
        <label ng-repeat="rate in arrayOfRates">
            <input type="radio" ng-model="img.star" ng-checked="newImgRate==rate" ng-value="rate" />
            {{rate}}
        </label>
    </p>
    <input type="button" ng-click="addImg()" value="Добавить картинку">
    

  

</div>
<div id="preview">
    <p align="center">
        {{img.name}}
        <br>
        <img ng-src="{{img.data}}"/>
        <br>
        {{img.desc}}
        Оценка
        {{img.star}}
    </p>
</div>



