<h1 align="center">
    Галерея
</h1>
<div align="right">

    <label ng-repeat="extension in extensionsArray">
        {{extension.name}}
        <input type="checkbox" ng-model="extension.isChecked">
    </label>
</div>

<div ng-repeat="img in Images | filter:filterByExtension" class="imageGalleryClass" >
    <p>
        <div id="main" >
            <p class="tooltipRight" ng-show="showtooltipRight">{{img.Extension}}</p>
            <p class="tooltipLeft" ng-show="showtooltipLeft">{{img.Extension}}</p>
        </div>
        <div id="main" ng-show="showtooltip">
            <p class="tooltipRight">{{img.Extension}}</p>
            <p class="tooltipLeft">{{img.Extension}}</p>
        </div>
        
        {{img.Name}}
        <br>
        
        <img ng-src="{{img.Url}}" ng-mouseover="toggleTooltip($index)" ng-mouseout="hideTooltip()" >
        <br>
        
        Оценка: {{img.Star}}
	</p>
</div>