<h1 align="center">
    Галерея
</h1>
<div align="right">
   
    <label ng-repeat="extension in extensionsArray" >
        {{extension.name}}
        <input type="checkbox" ng-model="extension.isChecked" > 
    </label>
</div>
<div ng-repeat="image in imgArray | filter:filterByExtension" class="imageGalleryClass" >
    <p>
        <div id="main" >
            <p class="tooltipRight" ng-show="showtooltipRight">{{image.description}}</p>
            <p class="tooltipLeft" ng-show="showtooltipLeft">{{image.description}}</p>
        </div>
        <div id="main" ng-show="showtooltip">
            <p class="tooltipRight">{{image.description}}</p>
            <p class="tooltipLeft">{{image.description}}</p>
        </div>
        
        {{image.name}}
        <br>
        
        <img ng-src="{{image.src}}" ng-mouseover="toggleTooltip($index)" ng-mouseout="hideTooltip()" >
        <br>
        
        Оценка: {{image.rate.value}}
	</p>
</div>