<!DOCTYPE>
<html ng-app="gallery">
<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    
    <title>Zootopia</title>
    <link href="~/Style/style.css" rel="stylesheet" type="text/css"/>

    <script src="~/Script/angular.min.js"></script>
    <script src="~/Script/angular-route.min.js"></script>
    <script src="~/Script/main.js"></script>
    
</head>

<body>
    <div id="conteiner">
        <div id="header">
            <a href="/Zootopia/gallery" > <img src="img/header.png"></a>
            
        </div>
        <div id="menu">
            <h3>
                <ul>
                    <li> <a href="/Zootopia/gallery">Галерея</a> </li>
                    <li> <a href="/Zootopia/addNewImage">Добавление картинок</a> </li>
                    <li> <a href="/Zootopia/aboutUs">О нас</a> </li>
                </ul>
             </h3>
            <img src="img/menu2.png">

        </div>
        <div ng-view id="content">
            Loding..
        </div>
        <div id="footer">
            <h3>
                Вашкевич Алена 444601 <span class="vashkevichColor">изумрудный цвет</span><br>
                Закусило Анастасия 444601 <span class="zakusiloColor">васильковый цвет</span><br>
                Пантелеев Руслан 444601 <span class="panteleevColor">облепиховый цвет</span>
            </h3>
        </div>
    </div>
</body>
</html>
