<h1 align="center" >
	Добавление новой картинки		
</h1>
<div  id ='addNewImg'>

	<p>
		Введите название:
		<input type="text" ng-model='newImgName'>
	</p>

	<p> 
		Введите путь:
		<input type="text" ng-model='newImgUrl' >
	</p>	

	<p>
		Введите описание:
		<input type="text" ng-model='newImgDescription'>
	</p>

	<p>
		Введите оценку:
		<input type="text" ng-model=''>
	</p>

	<input type="button" ng-click="add()" value="Добавить картинку">
<!-- Доделать очистку форм 
	<input type="reset"  value="Очистить">	
-->
</div>

<div id="preview">
	<p align="center">
		{{newImgName}}
		<br>
		<img ng-src="{{newImgUrl}}"/>
		<br>
		{{newImgDescription}}
	</p>
</div>


